{% extends "base.html" %}
{% block content %}
<div class="container py-5" style="margin-top:100px; max-width: 500px;">
    <h2 class="text-uppercase fw-bold text-center mb-4">Réinitialisation</h2>
    <p class="text-muted small text-center">Saisissez votre adresse e-mail pour recevoir un lien de récupération.</p>
    <form method="POST" class="p-4 border shadow-sm bg-white">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark w-100 fw-bold mt-3">ENVOYER LE LIEN</button>
    </form>
</div>
{% endblock %}