/* Importation de la police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;600&display=swap');

/* Appliquer Playfair Display aux titres */
h1, h2, h3, .brand-text, .content-header h1 {
    font-family: 'Playfair Display', serif !important;
    letter-spacing: 1px;
}

/* Appliquer Poppins (plus lisible) pour le corps du texte et les menus */
body, .sidebar, .nav-link, .table {
    font-family: 'Poppins', sans-serif !important;
}

/* Optionnel : Forcer la couleur Or sur les titres de section */
.card-title {
    color: #D4AF37 !important;
    text-transform: uppercase;
    font-weight: bold;
}